<p-tabView>
    <p-tabPanel header="Description" *ngIf="product.description">
        {{ product.description }}
    </p-tabPanel>
    <p-tabPanel header="Information" *ngIf="product.information">
        <p-table 
            [value]="product.information" 
            styleClass="p-datatable-striped" 
            [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="body" let-info>
                <tr>
                    <td>{{ info[0] }}</td>
                    <td>{{ info[1] }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="Shipping & Return">
        <div class="product__shipping-return">
            <strong>Shipping:</strong>
            <p>{{ product.shippingInfo  }}</p>
            <strong>Return:</strong>
            <p>{{ product.returnInfo }}</p>
        </div>
    </p-tabPanel>
    <p-tabPanel [header]="'Reviews (' + product.reviews.length + ')'" *ngIf="product.reviews">
        <ecommerce-review *ngFor="let review of product.reviews" [review]="review"></ecommerce-review>
    </p-tabPanel>
</p-tabView>
