<p-galleria *ngIf="product?.images"
    [value]="product!.images" 
    thumbnailsPosition="left"
    [containerStyle]="{ 'max-width': '640px', 'margin': '0 auto 1em auto' }"
    [responsiveOptions]="responsiveOptions" 
    [numVisible]="5" 
    [autoPlay]="true"
    [circular]="true"
    [(activeIndex)]="currentImage">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.big" style="width: 100%;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="product-view__img-box">
            <img [src]="item.small" class="product-view__img--small" />
        </div>
    </ng-template>
</p-galleria>
<div class="product-view__all">
    <h2 class="product-view__name">{{ product.name }}</h2>
    <div class="product-view__review-box">
        <p-rating [(ngModel)]="product.rate" [readonly]="true" [cancel]="false"></p-rating>
        /
        <small>{{ product.reviews?.length ?? 0 }} review</small>
        /
        <p-button 
            styleClass="p-button-text" 
            (click)="reviewDialogVisible = true" 
            label="write a review"></p-button>
        <p-dialog header="" 
            [modal]="true" 
            [(visible)]="reviewDialogVisible" 
            [style]="{width: '50vw'}" 
            [maximizable]="true" 
            [closeOnEscape]="true"
            [closable]="true">
            <!-- TODO review form -->
            <ng-template pTemplate="header">
                <span class="text-xl font-bold">Header Content</span>
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="reviewDialogVisible = false" label="Ok" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-dialog>
    </div>
    <p-divider></p-divider>
    <h2 class="product-view__price">${{ product.price }}</h2>
    <ul class="product-view__spec">
        <li *ngFor="let spec of product.specification">{{ spec }}</li>
    </ul>
    <p-messages severity="error">
        <ng-template pTemplate>
            <h4>Hurry up! Sale ends in:</h4>
            <ecommerce-time-down [time]="1691418815129"></ecommerce-time-down>
        </ng-template>
    </p-messages>
    <p-divider></p-divider>
    <p-selectButton *ngIf="sizes"
        (onChange)="selectChange()"
        [(ngModel)]="selectedSize"
        [options]="sizes"
    ></p-selectButton>
    <p-divider></p-divider>
    <p-selectButton *ngIf="colors"
        (onChange)="selectChange()"
        [(ngModel)]="selectedColor"
        [options]="colors"
        optionLabel="name"
        optionValue="value"
    ></p-selectButton>
    <p-divider></p-divider>
    <p>
        {{ count }} Left in Stock
    </p>
    <p-progressBar [value]="progress" [showValue]="false" [style]="{ height: '6px' }"></p-progressBar>
    <div class="product-view__count">
        <p-inputNumber 
            [ngModel]="1"
            [min]="0"
            [max]="count"
            [showButtons]="true" 
            buttonLayout="horizontal" 
            spinnerMode="horizontal" 
            inputId="count" 
            decrementButtonClass="p-button-text"
            incrementButtonClass="p-button-text" 
            incrementButtonIcon="fa-regular fa-plus" 
            decrementButtonIcon="fa-solid fa-minus"
        ></p-inputNumber>
        <p-button
            [disabled]="!count"
            label="Add To Cart"
            styleClass="p-button-rounded"
        ></p-button>
    </div>
    <p-button
        [disabled]="!count"
        label="Buy It Now" 
        styleClass="p-button-rounded p-button-secondary"
    ></p-button>
    <p-divider></p-divider>
    <div class="product-view__info">
        <i class="fa-solid fa-truck"></i>
        Estimated Delivery: {{ product.shippingInfo }}
    </div>
    <div class="product-view__info">
        <i class="fa-solid fa-arrow-rotate-left"></i>
        {{ product.returnInfo }}
    </div>
    <p-divider></p-divider>
    <div class="product-view__info">
        Availability: 
        {{ product.available ? "In Stock" : "Out Of Stock" }}
    </div>
    <div class="product-view__info">
        Vendor: 
        {{ product.vendor.name }}
    </div>
</div>