<div class="container">
    <p-button 
        class="main-header__sidebar-btn"
        icon="fa-solid fa-bars" 
        styleClass="p-button-text"
        (click)="sidebarVisible = true"></p-button>
    <ecommerce-logo></ecommerce-logo>
    <div class="p-inputgroup main-header__search-box">
        <p-dropdown 
            [options]="categoriesGroups" 
            [(ngModel)]="selectedGroup" 
            placeholder="Select a Group">
            <ng-template pTemplate="selectedItem">
                <div>{{ selectedGroup.name }}</div>
            </ng-template>
            <ng-template let-group pTemplate="item">
                <div>{{ group.name }}</div>
            </ng-template>
        </p-dropdown>
        <input #searchInput type="text" name="search" pInputText placeholder="Search..." />
        <button pButton 
            type="button" 
            (click)="search(searchInput.value)" 
            label="Search" 
            styleClass="p-button-warn"
        ></button>
    </div> 
    <div class="main-header__toolbar">
        <div>
            <p-button 
                styleClass="p-button-text" 
                (click)="showDialog()" 
                icon="fa-solid fa-user"
                label="Login"></p-button>
            <p-dialog
                [modal]="true" 
                [(visible)]="visible" 
                [style]="{ 'width': '500px'}" 
                [maximizable]="true" 
                [closeOnEscape]="true"
                [closable]="true">
                <ecommerce-sign></ecommerce-sign>
            </p-dialog>
        </div>
        <div class="main-header__links">
            <a routerLink="/cart" styleClass="p-button-text" class="ecommerce-link main-header__toolbar__link">
                <p-avatar pBadge 
                    [value]="cartItemsCount.toString()" 
                    icon="fa-solid fa-basket-shopping"
                    severity="danger"
                    [style]="{ 'background-color': 'transparent' }"></p-avatar>
            </a>
            <a routerLink="/fav" styleClass="p-button-text" class="ecommerce-link main-header__toolbar__link">
                <p-avatar pBadge 
                    icon="fa-solid fa-heart"
                    value="4" 
                    severity="danger"
                    [style]="{ 'background-color': 'transparent' }"></p-avatar>
            </a>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="sidebarVisible">
    <ng-template pTemplate="header"></ng-template>
    <ng-template pTemplate="content">
        <p-panelMenu [model]="categories"></p-panelMenu>
        <p-divider></p-divider>
        <a routerLink="/cart" styleClass="p-button-text" class="ecommerce-link main-header__toolbar__link">
            <i class="fa-solid fa-basket-shopping"></i>
            Cart ({{ cartItemsCount }})
        </a>
        <p-divider></p-divider>
        <a routerLink="/fav" styleClass="p-button-text" class="ecommerce-link main-header__toolbar__link">
            <i class="fa-solid fa-heart"></i>
            Favorites (1)
        </a>
    </ng-template>
</p-sidebar>