<div class="container">
    <ecommerce-logo></ecommerce-logo>
    <div class="p-inputgroup">
        <p-multiSelect defaultLabel="Select a City"  class="p-inputgroup-addon" [options]="cities" [(ngModel)]="selectedCities" optionLabel="name"></p-multiSelect>
        <input #searchInput type="text" name="search" pInputText placeholder="Search..." />
        <button type="button" (click)="search(searchInput.value)" pButton label="Search" styleClass="p-button-warn"></button>
    </div> 
    <div class="main-header__toolbar">
        <div>
            <p-button 
                styleClass="p-button-text" 
                (click)="showDialog()" 
                icon="fa-solid fa-user"
                label="Login"></p-button>
            <p-dialog header="Login" 
                [modal]="true" 
                [(visible)]="visible" 
                [style]="{width: '50vw'}" 
                [maximizable]="true" 
                [closeOnEscape]="true"
                [closable]="true">
                <!-- TODO Login form -->
                <ng-template pTemplate="header">
                    <span class="text-xl font-bold">Header Content</span>
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="visible = false" label="Ok" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-dialog>
        </div>
        <a routerLink="/cart" styleClass="p-button-text" class="ecommerce-link main-header__toolbar__link">
            <p-avatar pBadge 
                value="4" 
                icon="fa-solid fa-basket-shopping"
                severity="danger"
                [style]="{ 'background-color': 'transparent' }"></p-avatar>
        </a>
        <a routerLink="/fav" styleClass="p-button-text" class="ecommerce-link main-header__toolbar__link">
            <p-avatar pBadge 
                icon="fa-solid fa-heart"
                value="4" 
                severity="danger"
                [style]="{ 'background-color': 'transparent' }"></p-avatar>
        </a>
    </div>
</div>