@use "../../utilities/mixin.scss";
@use "../../utilities/mediaQuery.scss";

:host {
    display: block;
    border: 1px solid var(--clr-border);
    background-color: var(--bg-secondary);

    .container {
        @include mixin.flex(space-between);
    }

    .main-header {
        &__sidebar-btn {
            display: none;
        }

        &__toolbar {
            @include mixin.flex();

            &__link {
                padding: 0 .75em;
            }
        }
    }

    @include mediaQuery.Laptops {
        .main-header {
            &__sidebar-btn {
                display: block;
            }

            &__search-box,
            &__links {
                display: none;;
            }
        }
    }
}