@use "../../utilities/mixin.scss";

:host {
    display: block;

    .container {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    ::ng-deep {
        .p-grid {
            $padding: 1em;
            @include mixin.grid(auto, repeat(auto-fit, minmax(175px, 380px)), $padding, $padding);
            justify-content: center;
            padding: $padding;
            background-color: var(--bg-categories);
        }
    }
}