@use "../../utilities/mixin.scss";

:host {
    display: block;
    background-color: var(--bg-products);
    padding: 2em 0;

    .container {
        @include mixin.flex(stretch, flex-start);
        gap: 2em;
    }

    .products {
        &__sidebar {
            background-color: var(--bg-products-sidebar);
            width: 260px;
            padding: 1em 0;
            border-radius: 4px;
        }
    }

    ::ng-deep {
        .p-panel {
            .p-panel-header {
                text-transform: uppercase;
            }

            .p-panel-header,
            .p-panel-content {
                background-color: transparent;
                border: none;
            }
        }

        // 
        p-dataview {
            flex: 1;
        }

        .p-dataview-header {
            @include mixin.flex(space-between);
            background-color: var(--bg-products-header);
            border-radius: 4px;
            border: none;
            margin-bottom: .5em;
        }

        .p-dataview-grid {
            .p-grid {
                background-color: var(--bg-products);
                @include mixin.grid(auto, repeat(auto-fill, minmax(175px, 380px)), 2em, 1em);
                justify-content: center;
            }
        }

        .p-dataview-list {
            .p-grid {
                background-color: var(--bg-products);
                @include mixin.flex(stretch, stretch, column);
                gap: 1em;
            }
        }
    }
}