@use "../../utilities/mixin.scss";
@use "../../utilities/mediaQuery.scss";

:host {
    display: block;
    border-bottom: 1px solid var(--clr-border);

    .container {
        @include mixin.flex(space-between);
        gap: 1em;
    }
    
    @include mediaQuery.Laptops {
        display: none;
    }
}