<div class="container">
    <div class="navbar__view-categories">
        <p-button #btn 
            type="button" 
            icon="fa-solid fa-bars" 
            label="Browse All Categories"
            styleClass="p-button-text"
            (click)="categoryMenu.toggle($event)">
        </p-button>
        <p-tieredMenu #categoryMenu [model]="categories" [popup]="true"></p-tieredMenu>
    </div>
    <div class="navbar__navigators">
        <p-megaMenu [model]="navigators"></p-megaMenu>
    </div>
    <div class="navbar__sales">
        <a class="ecommerce-link" routerLink="/">
            <i class="fa-regular fa-percent"></i>
            Sale $20 Off Your First Order.
        </a>
    </div>
</div>