<div class="product-list__left">
    <!-- TODO add if -->
    <span class="product-list__flag">New</span>
    <img [src]="product.mainImage" />
</div>

<div class="product-list__center">
    <h4 class="product-list__name">
        <a [routerLink]="'/product/' + product.id" class="ecommerce-link">{{ product.name }}</a>
    </h4>
    <div class="product-list__rating">
        <p-rating [(ngModel)]="product.rate" [readonly]="true" [cancel]="false"></p-rating>
        <span>({{ product.reviews }} review)</span>
    </div>
    <ul class="product-list__spec">
        <li *ngFor="let spec of product.description">{{ spec }}</li>
    </ul>
</div>

<div class="product-list__right">
    <small class="product-list__stock"
        [class.in]="product.available">
        {{ product.available ? "In stock" : "out of stock" }}
        ({{ product.available }})
    </small>
    <h2 class="product-list__cost">${{ product.price }}</h2>
    <p-button label="Add To Cart"
        [disabled]="!product.available"
    ></p-button>
    <a [routerLink]="'/product/' + product.id" class="ecommerce-link">View product</a>
</div>