<div class="product-list__left">
    <span class="product-list__flag">{{ product.flag }}</span>
    <img [src]="product.img" />
</div>

<div class="product-list__center">
    <h4 class="product-list__name">
        <a [routerLink]="'/product/' + product.id" class="ecommerce-link">{{ product.name }}</a>
    </h4>
    <div class="product-list__rating">
        <p-rating [(ngModel)]="product.rate" [readonly]="true" [cancel]="false"></p-rating>
        <span>({{ product.reviews }} review)</span>
    </div>
    <ul class="product-list__spec">
        <li *ngFor="let spec of product.specification">{{ spec }}</li>
    </ul>
</div>

<div class="product-list__right">
    <small class="product-list__stock"
        [class.in]="product.count">
        {{ product.count ? "In stock" : "out of stock" }}
    </small>
    <h2 class="product-list__cost">${{ product.cost }}</h2>
    <p-button label="Add To Cart"></p-button>
    <a [routerLink]="'/product/' + product.id" class="ecommerce-link">View product</a>
</div>