<div class="product-grid__top">
    <span class="product-grid__flag" *ngIf="flag">{{ flag }}</span>
    <img [src]="product.images[0].big"/>
</div>

<div class="product-grid__bottom">
    <h4 class="product-grid__name">
        <a [routerLink]="'/product/' + product.id" class="ecommerce-link">{{ product.name }}</a>
    </h4>
    <div class="product-grid__rating">
        <p-rating [(ngModel)]="product.rate" [readonly]="true" [cancel]="false"></p-rating>
        <span>({{ product.reviews?.length || 0 }} reviews)</span>
    </div>
    <h2 class="product-grid__cost">${{ product.price }}</h2>
    <small class="product-grid__stock"
        [class.in]="product.available.length">
        {{ product.available.length ? "In stock" : "out of stock" }}
        ({{ product.available.length }})
    </small>
    <p-button label="Add To Cart"
        class="add-to-cart"
        [disabled]="!product.available.length"
    ></p-button>
</div>