@use "../../utilities/mixin.scss";

:host {
    display: block;
    border-top: 1px solid var(--clr-border);
    background-color: var(--bg-secondary);

    .main-footer {
        $padding: 1.5em;

        &__top {
            @include mixin.flex(space-around, center, row, wrap);
            gap: $padding;
            padding: $padding;
            border-bottom: 1px solid var(--clr-border);
        }

        &__bottom {
            @include mixin.grid(1fr, repeat(auto-fill, minmax(250px, 1fr)), 0, $padding);
            justify-content: center;
            padding: $padding;

            ::ng-deep .p-accordion-tab {
                .p-accordion-header-link {
                    text-transform: uppercase;
                    background-color: transparent !important;
                    border: none;

                    .p-icon-wrapper {
                        display: none;
                    }
                }

                .p-accordion-content {
                    border: none;
                    line-height: 2em;
                }
            }
        }
    }
}